body, html {
    height: 100%
}

h1 {
    color: rgb(206, 23, 17);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder
}

h3, ul, form {
    color: rgb(68, 55, 55);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
