body, html {
    height: 100%;
    background-image: url("../img/burger-close-up-fast-food-103886.jpg");
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-content: center
}
h3, form, label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-content: center
}

ul, li {
    font-family: Arial, Helvetica, sans-serif;
    align-content: center
}
