<ul>
	{{burger_name}}
	{{#unless devoured}}
	<button class="devourBurger btn-flat" data-id="{{id}}" data-newdevour="{{devoured}}">
		devour
	</button>
	{{/unless}}
</ul>

<ul>
	{{#if devoured}}
	<button class="deleteBurger btn-flat" data-id="{{id}}">
		delete
	</button>
	{{/if}}
</ul>